---
layout: default
---

<div class="list">
  {% if site.posts.size == 0 %}
  <h2>No post found</h2>
  {% else %}
  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
  <div class="list-post">

    <a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">
      <div class="list-post-date">
        <time>{{ post.date | date_to_string }}</time>
      </div>
      <div class="list-post-title">
        {{ post.title }}
      </div>
      <div class="list-post-desc">
        {% if post.description %}
        {{ post.description }}
        {% else %}
        {{ post.excerpt }}
        {% endif %}
      </div>
    </a>


  </div>
  {% endfor %}
  <!-- Pagination links -->
  <div class="list-pagination">
    <span class="list-pagination-previous">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">
        &#xE000; previous
      </a>
      {% else %}

      {% endif %}
    </span>

    <span class="list-pagination-next">
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">
        next &#xE001;
      </a>
      {% else %}

      {% endif %}
    </span>

  </div>
  {% endif %}
</div>