---
layout: page
title: Gallery
permalink: /gallery/
---

<style>
    {% assign css = '' | split: '' %}
    {% assign csscounter = 0 %}
    {% for post in site.posts %}
    {% if post.content contains '/assets/images' %}
    {% assign images = post.content | split:'/assets/images' %}
    {% for image in images %}
    {% if image contains '.jpg' %}
    {% assign csscounter = csscounter | plus:1 %}
    {% if csscounter > 1 %}
    {% capture cssstring %}
    #target-item-{{csscounter}}:target ~ .item-{{csscounter}}
    {% endcapture %}
    {% assign cssarray = cssstring | split: 'apa' %}
    {% assign css = css | concat: cssarray %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %} 
    {{css | join:','}} {
      z-index: 3;
      opacity: 1;
    }
</style>

<div class="carousel-wrapper">
  {% assign topcounter = 0 %}
  {% for post in site.posts %}
  {% if post.content contains '/assets/images' %}
  {% assign images = post.content | split:'/assets/images' %}
  {% for image in images %}
  {% if image contains '.jpg' %}
  {% assign topcounter = topcounter | plus:1 %}
  <span id="target-item-{{topcounter}}"></span>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endfor %}

  {% assign bottomcounter = 0 %}
  {% for post in site.posts %}
  {% if post.content contains '/assets/images' %}
  {% assign images = post.content | split:'/assets/images' %}
  {% for image in images %}
  {% if image contains '.jpg' %}
  {% assign bottomcounter = bottomcounter | plus:1 %}
  {% assign jpgparts = image | split:'.jpg' %}
  {% assign commentparts = image | split:'*' %}
  <div class="carousel-item item-{{bottomcounter}}">
      <div class="image-wrapper">
        <a href="{{post.url}}">
          <image src="/assets/images{{jpgparts[0]}}.jpg"/>
        </a>
        {% if bottomcounter == 1 %}
        <a class="arrow arrow-prev" href="#target-item-{{topcounter}}"></a>
        {% else %}
        <a class="arrow arrow-prev" href="#target-item-{{bottomcounter | minus:1}}"></a>
        {% endif %}
        {% if bottomcounter == topcounter %}
        <a class="arrow arrow-next" href="#target-item-1"></a>
        {% else %}
        <a class="arrow arrow-next" href="#target-item-{{bottomcounter | plus:1}}"></a>
        {% endif %}
      </div>
      <em>{{commentparts[1]}}</em>
      <div>{{bottomcounter}} / {{topcounter}}</div>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endfor %}
</div>