---
import BlogLayout from "../../layouts/BlogLayout.astro";
import { demos } from "../../demos";

export const getStaticPaths = () =>
  demos.map(({ name }) => ({ params: { demo: name.toLowerCase() } }));

const { demo } = Astro.params;
const currentDemo = demos.find(({ name }) => name.toLowerCase() == demo);
---

<BlogLayout>
  <a href={`${currentDemo.link}`}>{currentDemo.name}</a>
  <p>{currentDemo.description}</p>
  <iframe src={currentDemo.link}></iframe>
</BlogLayout>
