---
import DemoLayout from "../../layouts/DemoLayout.astro";
import Card from "../../components/card.astro";
import { demos } from "../../demos.js";

export const getStaticPaths = () =>
  demos.map(({ name }) => ({ params: { demo: name.toLowerCase() } }));

const { demo } = Astro.params;
const currentDemo = demos.find(({ name }) => name.toLowerCase() === demo);
---

<DemoLayout>
  <div class="m-4">
    <Card>
      <iframe class="w-full" style={"height: 50vh; "} src={currentDemo.link}
      ></iframe>
      <div class="p-3 text-orange-100">
        <h1 class="text-xl mt-4">
          <a href={`${currentDemo.link}`}>{currentDemo.name}</a>
        </h1>
        <p class="mt-2 mb-4">{currentDemo.description}</p>
      </div>
    </Card>
  </div>
</DemoLayout>
