---
import BlogLayout from "../../layouts/BlogLayout.astro";
import Card from "../../components/card.astro";
import { demos } from "../../demos";

export const getStaticPaths = () =>
  demos.map(({ name }) => ({ params: { demo: name.toLowerCase() } }));

const { demo } = Astro.params;
const currentDemo = demos.find(({ name }) => name.toLowerCase() == demo);
---

<BlogLayout>
  <h1 class="text-xl mt-8">
    <a href={`${currentDemo.link}`}>{currentDemo.name}</a>
  </h1>
  <p class="mt-2 mb-4">{currentDemo.description}</p>
  <Card>
    <iframe class="w-full" style={"height: 50vh;"} src={currentDemo.link}></iframe>
  </Card>
</BlogLayout>
