---
import BlogLayout from "../layouts/BlogLayout.astro";
import { demos } from "../demos";
---

<BlogLayout>
  <ul>
    {
      demos.map((demo) => (
        <li key={demo.name}>
          <a href={`${demo.url}`}>{demo.name}</a>
        </li>
      ))
    }
  </ul>
</BlogLayout>
