.demo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;

  iframe {
    width: 75%;
    height: 75%;
  }
}

.demo-list-post .list-post-title {
  color: black;
}

.demo-list-post .demo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.demo-list-post {
  a + a {
    margin-left: 1rem;
  }
}