---
import Card from "../components/card.astro";
export interface Props {
  title: string;
}
const regex = /\/([^/]+)\.astro$/;
const links = (await Astro.glob("../pages/*.astro")).map(({ file, url }) => ({
  url,
  name: file.match(regex)[1],
}));
---

<html class="bg-orange-100 text-teal-700">
  <head>
    <meta charset="utf-8" />
  </head>

  <body>
    <div>
      <div class="flex justify-center items-center text-lg px-4 py-2">
        <h1 class="text-3xl flex-1 font-bold">Appehög AB</h1>
        {
          links.map(({ url, name }) => (
            <a class="mx-1" href={url}>
              {name}
            </a>
          ))
        }
        <span class="flex-1"></span>
      </div>
      <Card xOnly>
        <image src="/images/header.jpg" alt="Header" />
      </Card>
    </div>
    <div class="px-4">
      <slot />
    </div>
  </body>
</html>
