---
import { Image } from "astro:assets";
import headerImage from "../assets/header.jpg";
import Card from "../components/card.astro";

const regex = /\/([^/]+)\.astro$/;
const links = (await Astro.glob("../pages/*.astro")).map(({ file, url }) => ({
  url,
  name: file.match(regex)[1],
}));
---

<html class="bg-orange-100 text-cyan-700">
  <head>
    <meta charset="utf-8" />
    <style is:global>
      h2 {
        font-size: theme(fontSize.xl);
        line-height: theme(lineHeight.relaxed);
        text-decoration: underline;
      }
      h2,
      p {
        margin-top: theme(spacing.4);
        margin-bottom: theme(spacing.4);
      }

      em {
        font-size: theme(fontSize.sm);
        line-height: theme(lineHeight.tight);
      }

      pre {
        padding: theme(padding.2);
      }
    </style>
  </head>

  <body class="pb-20">
    <div>
      <div class="flex justify-center items-center text-lg px-8 py-4">
        <h1 class="text-3xl flex-1 font-bold">
          <a href="/">Appehög</a>
        </h1>
        {
          links
            .filter(({ url }) => url)
            .map(({ url, name }) => (
              <a class="mx-1" href={url}>
                {name}
              </a>
            ))
        }
        <span class="flex-1"></span>
      </div>
      <Card xOnly>
        <Image
          src={headerImage}
          alt="Header"
          style={"mask-image: linear-gradient(#000, transparent);"}
        />
      </Card>
    </div>
    <div class="my-8 mx-8">
      <slot />
    </div>
    <div
      class="fixed bottom-0 left-0 z-20 w-full flex justify-center items-center text-xs px-8 py-4 bg-orange-100 border-t-2 border-cyan-950"
    >
      © Copyright 2024, Johannes Bengtsson
    </div>
  </body>
</html>
