---
export interface Props {
	title: string;
}
const regex = /\/([^/]+)\.astro$/;
const links = (await Astro.glob('../pages/*.astro'))
  .map(({file, url}) => ({url, name: file.match(regex)[1]}));
---

<div class="container">
  <h1>Appehög AB</h1>
  {links.map(({url, name}) => (<a href={url}>{name}</a>))}
  </nav>
  <div class="content">
		<slot />
  </div>
</div>